/* TOOLBOX ITEMS */
/* LOGIC GATES */
.LogicGate * {
    -fx-stroke-width: 3.0;
}

.OR * {
    /*-fx-fill: aqua;*/
}

.AND * {
    /*-fx-fill: red;*/
}

.NAND * {
    /*-fx-fill: coral;*/
}

.NOT * {
    /*-fx-fill: green;*/
}

.XOR * {
    /*-fx-fill: yellow;*/
}

.NOR * {
    /*-fx-fill: purple;*/
}

.XNOR * {
    /*-fx-fill: pink;*/
}


/* INPUT/OUTPUTS */
.Switch * {
}

.SwitchOn * {
    -fx-fill: green;
}

.SwitchOff * {
    -fx-fill: red;
}

.Lightbulb * {
}

.LightbulbOn * {
    -fx-fill: green;
}

.LightbulbOff * {
    -fx-fill: red;
}

.Clock * {
}

.ClockOn * {
    -fx-fill: green;
}

.ClockOff * {
    -fx-fill: red;
}

/* PINS */
.InputPin {
    -fx-fill: magenta;
}

.OutputPin {
    -fx-fill: blue;
}


/* WIRES */
.Wire {
    -fx-stroke-width: 3.0;
}

.WireBuild {
    -fx-stroke: yellow;
}

.WireOff {
    -fx-stroke: red;
}

.WireOn {
    -fx-stroke: green;
}